<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block head %}
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="stylesheets/style.css">
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>